max10_adc_firmware/PLLJ_PLLSPE_INFO.txt
max10_adc_firmware/serial1.qws
max10_adc_firmware/db/
max10_adc_firmware/incremental_db/
max10_adc_firmware/output_files/
max10_adc_firmware/simulation/
eagle/max10adc*.b#*
eagle/max10adc*.s#*
eagle/max10adc*.job
eagle/max10adc*.pro
software/*.pyc
software/__*
.idea
